apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld-demo-python
  namespace: python-app
  labels:
    app: python
spec:
  replicas: 4
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
      - name: python
        image: vj5692/helloworld-demo-python:vj
        ports:
        - containerPort: 8080
